<h1 style="color:blue">Ejemplos Caching</h1>

<ul class="list-group">
	<li class="list-group-item">
		<a asp-controller="Caching"
		   asp-action="MemoriaDistribuida"
			class="btn btn-outline-dark">
			Memoria Distribuida
		</a>
	</li>
	<li class="list-group-item">
		<a asp-controller="Caching"
		   asp-action="MemoriaPersonalizada"
		   class="btn btn-outline-dark">
			Memoria Personalizada
		</a>
	</li>
</ul>