<h1>Memoria Distribuida</h1>

<p>
	<a asp-controller="Caching"
		asp-action="MemoriaDistribuida"
		class="btn btn-outline-info">
		Actualizar página
	</a>
</p>

<h2 style="color:darkred">@ViewData["FECHA"]</h2>